.game-page-cool {
    background-color: #ffffff;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 1px 15px #00000054;
}

.game-page-cool .img-background-cool {
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.game-page-cool .img-background-cool h2 {
    position: absolute;
    top: .5em;
    width: 100%;
    text-align: center;
    font-size: 5em;
    color: #ffffff;
}

.game-page-cool .img-background-cool .star-content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 1.5em;
    font-size: 1.5em;
}

.game-page-cool .img-background-cool .star-content i.lni-star,
.game-page-cool .img-background-cool .star-content i.lni-star-half {
    text-shadow: 0 1px 10px #fffaeaae;
}

.game-page-cool .img-background-cool .ratings-stats {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.game-page-cool .img-background-cool .ratings-stats .stat-c{
    display: flex;
    font-size: 1.6em;
    color: #FF5000;
}

.game-page-cool .img-background-cool .ratings-stats .stat-c p{
    margin: 0;
    padding-left: .5em;
}


.game-page-cool img.background {
    width: 100%;
    top: -5em;
}

.game-page-cool .img-background-cool .glass-cool {
    position: absolute;
    width: 100%;
    height: 499px;
    background-color: #00000093;
    top: 0;
}


.game-page-cool img.img-fade-cool {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.game-page-cool .page-content-c {
    padding: 1.5em;
}

.game-page-cool .page-content-c .description-c{
    font-size: 1.3em;
    letter-spacing: 2px;
    line-height: 28px;
}
