.home-page-cool .principal-title {
    margin: 0 auto;
    max-width: 635px;
    padding: 1.2em;
    border-radius: 5px;
    /* background-color: #ffffff;
    box-shadow: 0px 1px 8px #6060607e; */
    text-align: center;
    position: relative;
}

.home-page-cool .principal-title .title-content-c {
    position: fixed;
    z-index: 1;
}

.home-page-cool .principal-title .title-content-c.deactive {
    z-index: -1;
    
}

.home-page-cool .principal-title .vanish-div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ac222200;
    top: 0;
    left: 0;
    transition: all .1s linear;
    z-index: -1;
}

.home-page-cool .principal-title .vanish-div.active {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    top: 0;
    left: 0;
    transition: all .1s linear;
    z-index: 1;
}

.home-page-cool .principal-title h2 {
    font-size: 2em;
    margin: 0;
    color: #FF5000;
}

.home-page-cool .principal-title p {
    font-size: 1.2em;
}

.home-page-cool .principal-title .form {
    display: flex;
    flex-direction: column;
}

.home-page-cool .principal-title .form input {
    border-radius: 4px;
    padding: 1em;
    border: 1px solid #c7c7c7;
    margin-bottom: 1em;
    outline: none;
}

.home-page-cool .principal-title .form button {
    border-radius: 4px;
    padding: 1em;
    border: none;
    background-color: #FF5000;
    color: #ffffff;
    outline: none;
    transition: all .1s linear;
}

.home-page-cool .principal-title .form button:hover {
    background-color: #ff6721;
    cursor: pointer;
}

.home-page-cool .circle-cool {
    width: 2000px;
    height: 1700px;
    background-color: #C9D3E5;
    border-radius: 50%;
    position: absolute;
    top: -3500%;
    left: -98.5%;
    z-index: -2;
    background-color: #ffffff;
    box-shadow: 0px 1px 8px #6060604c;
}

.home-page-cool .paginator-cool {
   position: absolute;
   margin-top: 20em;
}

.home-page-cool .paginator-cool.left {
    left: 27em;
}

.home-page-cool .paginator-cool.right {
    right: 27em;
}

.home-page-cool .paginator-cool.both {
    position: static;
    margin-top: 0;
    text-align: center;
}

.home-page-cool .paginator-cool.both button {
    margin: 0 1em
}

.home-page-cool .paginator-cool button {
    width: 50px;
    height: 50px;
    border:none;
    outline: none;
    border-radius: 50%;
    background-color: #FF5000 ;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.4em;
    transition: all .1s linear;
}

.home-page-cool .paginator-cool button:hover {
    background-color: #ff6721 ;
    cursor: pointer;
}

.home-page-cool .circle-cool.deactive {
    
}

/* .home-page-cool .little-circle {
    width: 500px;
    height: 500px;
    position: absolute;
    background-color: #FF5000;
    border-radius: 50%;
    z-index: -3;
    left: -90%;
    top: -20%;
} */

.home-page-cool .games-content {
    max-width: 700px;
    margin: 15em auto;
    margin-bottom: 2em;
    z-index: 90;
}
