.games-content .game-content-cool {
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 1em;
    display: flex;
    box-shadow: 0px 1px 8px #6060604c;
    transition: linear .2s all;
}

.games-content .game-content-cool:hover {
    box-shadow: 0px 1px 12px #60606070;
}

.games-content .game-content-cool .img-content{
    display: flex;
    width: 30%;
    position: relative;
}

.games-content .game-content-cool .content-container-c{
    width: calc(70% - 3em);
    text-align: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.games-content .game-content-cool .content-container-c h3{
    font-size: 1.5em;
    margin: 0;
}

.games-content .game-content-cool .content-container-c h3 a{
    outline: none;
    text-decoration: none;
    color: #000000;
    transition: linear .1s all;
}

.games-content .game-content-cool .content-container-c h3 a:hover{
    color: #FF5000;
}


.games-content .game-content-cool .img-content img{
    width: 100%;
    border-radius: 5px 0 0 5px;
    object-fit: cover;
}

.games-content .game-content-cool .img-content .metascore{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 7px;
    border: 1px solid #12cd18;
    border-radius: 5px;
    color: #43ff49;
    background-color: #0000005f;
}

.games-content .game-content-cool .content-container-c .ratings-stats{
    display: flex;
    justify-content: space-between;
}

.games-content .game-content-cool .content-container-c .ratings-stats i{
    font-size: 1.5em;
}

.games-content .game-content-cool .content-container-c .ratings-stats .stat-c{
    display: flex;
}

.games-content .game-content-cool .content-container-c .ratings-stats p{
    font-family: 'Karla', sans-serif;
    margin: 0;
    margin-left: 1em;
}