.loading-c {
    margin-top: 5em;
    width: 100%;
}

.loading-c p {
    font-size: 2.2em;
    text-align: center;
    color: #ff5100;
    font-weight: bold;
    text-shadow: 0px 1px 10px #30303030;
}

.loading-c .loading-circles {
    display: flex;
    justify-content: center;
    width: 100%;
}

.loading-c .loading-circles  .circle-loading {
    width: 50px;
    height: 50px;
    margin: 1px;
    border-radius: 50%;
    background-color: #FF5000;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
}

.loading-c .circle-loading.one {
    animation-name: loadingOne;
    animation-delay: 0;
}

.loading-c .circle-loading.two {
    animation-name: loadingTwo;
    animation-delay: .5s;
}

.loading-c .circle-loading.three {
    animation-name: loadingOne;
    animation-delay: .7s;
}

.loading-c .circle-loading.four {
    animation-name: loadingTwo;
    animation-delay: .1s;
}
  
@keyframes loadingOne {
    0%   {width: 1px; height: 1px;background-color: #ffffff00;}
    35%  {width: 50px;height: 50px;background-color:#FF5000;}
    70%  {width: 100px;height: 100px;background-color:#ffffff00;}
    100%  {width: 1px;height: 1px;background-color:#ffffff00;}
}

@keyframes loadingTwo {
    0%   {width: 1px; height: 1px;background-color: #ffffff00;}
    25%  {width: 50px;height: 50px;background-color:#FF5000;}
    60%  {width: 100px;height: 100px;background-color:#ffffff00;}
    100%  {width: 1px;height: 1px;background-color:#ffffff00;}
}

@keyframes loadingThree {
    0%   {width: 1px; height: 1px;background-color: #ffffff00;}
    35%  {width: 50px;height: 50px;background-color:#FF5000;}
    70%  {width: 100px;height: 100px;background-color:#ffffff00;}
    100%  {width: 1px;height: 1px;background-color:#ffffff00;}
}

@keyframes Four {
    0%   {width: 1px; height: 1px;background-color: #ffffff00;}
    25%  {width: 50px;height: 50px;background-color:#FF5000;}
    60%  {width: 100px;height: 100px;background-color:#ffffff00;}
    100%  {width: 1px;height: 1px;background-color:#ffffff00;}
}