.navbar-houm-cool {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 1px 8px #78787870;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.navbar-houm-cool .navbar-content-cool {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: .5em;
}

.navbar-houm-cool .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-houm-cool .logo img {
    max-width: 80px;
}

.navbar-content-cool ul {
    list-style: none;
}

.navbar-content-cool ul li{
    display: inline-block;
    margin-left: 1em;
    font-size: 1.2em;
}

.navbar-content-cool ul li a{
    color: #0a0a0a;
    text-decoration: none;
    transition: all .1s linear;
}

.navbar-content-cool ul li a:hover{
    color: #FF5000;
}