.star-content i{
    font-size: 2em;
}

.star-content i{
    color: #FF5000;
}

.star-content i{
    color: #ff661f;
    margin: 0 .2em;
}

.star-content i.lni-star-half{
    color: #ff661f;
}

.star-content i.lni-star-empty{
    color: #dea991;
}